@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6fA;
}

.App {
  width: 1400px;
  background-color: #fff;
  margin: auto;
}

header {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  padding: 0 100px;
  border-bottom: 1px solid #e8e8e8;
}

.left-header {
  display: flex;
}

.bookstore-title {
  font-size: 30px;
  font-weight: bold;
  color: #0290ff;
  align-self: center;
}

ul {
  display: flex;
  list-style: none;
  letter-spacing: 1.9px;
  font-size: 13px;
  color: #121212;
}

li:last-child {
  padding-left: 40px;
  opacity: 0.5;
}

#user-profile {
  color: #0290ff;
  border: 1px solid #e8e8e8;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  padding: 12px;
}

.category-container {
  display: flex;
  font-size: 20px;
  letter-spacing: -0.18px;
  color: #888888;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  padding: 20px 100px;
}

.category-container div {
  align-self: center;
  padding-right: 25px;
}

.category-filter {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  height: 40px;
  width: 285px;
  background-color: #fff;
  font-size: 16px;
  letter-spacing: -0.15px;
  padding: 12px;
}