@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f5f6fA;
}

.App {
  width: 1400px;
  background-color: #fff;
  margin: auto;
}

header {
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-header {
  display: flex;
}

.bookstore-title {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #0290ff;
}

ul {
  display: flex;
  list-style: none;
}